<% layout('./layouts/boilerplate') -%>
<!--    <h1>Edit Moment</h1>-->
<!--    <form action = "/moments/<%= moment._id%>?_method=PUT" method="POST">-->
<!--        <div>-->
<!--            <label for="title">Title:</label>-->
<!--            <input type="text" id="title" name="moment[title]" value="<%=moment.title%>">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="location">Location:</label>-->
<!--            <input type="text" id="location" name="moment[location]" value="<%=moment.location%>">-->
<!--        </div>-->
<!--        <button>Update Moment</button>-->
<!--    </form>-->
<!--    <a href="/moments/<% moment._id%>">Back to Moment</a>-->


<div class="row">
    <h1 class="text-center">Edit Moment</h1>
    <div class="col-md-6 offset-md-3">
        <form action = "/moments/<%=moment._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" type="text" id="title" name="moment[title]"
                value="<%=moment.title%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" id="location" name="moment[location]"
                       value="<%=moment.location%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="expense">Moment expense:</label>
                <div class="input-group">
                    <span class="input-group-text" id="expense-label">$</span>
                    <input type="text" class="form-control" id="expense" placeholder="0.0" aria-label="expense" aria-describedby="expense-label"
                           name="moment[expense]" value="<%=moment.expense%>" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Description">Description:</label>
                <textarea class="form-control" type="text" id="Description" name="moment[description]" required><%=moment.description%></textarea>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input class="form-file-input" type="file" name="image" id="image" multiple>
                    <label for="image" class="form-file-label">
                        <span class ="form-file-text custom-file-label">Add more Image(s)</span>
                        <span class ="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% moment.images.forEach(function(img, i){ %>
                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline" >
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                    <label for="image-<%=i%>">Delete?</label>
                </div>

                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Moment</button>
            </div>


        </form>
        <a href="/moments/<% moment._id%>">Back to Moment</a>
    </div>
</div>